html, body, div, span, applet, object, iframe, caption,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	background:#ffffff;
	line-height:150%;
	color:#383636;
	font-size:12px;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

a {
	color:#FFFFFF;
}

a:hover {
	color:#FFFFFF;
	text-decoration:none;
}

ol, ul {
	list-style: none;
}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
/* remove possible quote marks (") from <q> &
<blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}
.clearfix {
	display: inline-table;
	min-height: 1%;
}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

.a_center {
	text-align:center;
}

.a_right {
	text-align:right;
}

.a_left {
	text-align:left;
}

.f_left {
	float:left;
}

.f_right {
	float:right;
}

.p_top10 {
	padding-top:10px;
}

.p_top20 {
	padding-top:20px;
}

.p_top30 {
	padding-top:30px;
}

.p_btm10 {
	padding-bottom:10px;
}

.p_btm20 {
	padding-bottom:10px;
}

.p_btm30 {
	padding-bottom:10px;
}

.p_left10 {
	padding-left:10px;
}

.p_left20 {
	padding-left:10px;
}

.p_left30 {
	padding-left:10px;
}

.p_right10 {
	padding-right:10px;
}

.p_right20 {
	padding-right:10px;
}

.p_right30 {
	padding-right:10px;
}

.m_top10 {
	margin-top:10px;
}

.m_top20 {
	margin-top:20px;
}

.m_top30 {
	margin-top:30px;
}

.m_btm10 {
	margin-bottom:10px;
}

.m_btm20 {
	margin-bottom:10px;
}

.m_btm30 {
	margin-bottom:10px;
}

.m_left10 {
	margin-left:10px;
}

.m_left20 {
	margin-left:10px;
}

.m_left30 {
	margin-left:10px;
}

.m_right10 {
	margin-right:10px;
}

.m_right20 {
	margin-right:10px;
}

.m_right30 {
	margin-right:10px;
}
/*
a:hover img {
	filter: alpha(opacity=70);  -moz-opacity:0.70;  opacity:0.70;
}
*/

