<IfModule mod_rewrite.c>

	RewriteEngine on
	Options +FollowSymLinks
	RewriteBase /

	#RewriteCond %{HTTP_HOST} ^lucubunga\.org$ [NC]
	#RewriteCond %{HTTPS} off
	#RewriteCond %{REQUEST_URI} (assets|apply|contact|status|dev)
	#RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

	#RewriteCond %{HTTP_HOST} ^lucubunga\.org$ [NC]
	#RewriteCond %{HTTPS} on
	#RewriteCond %{REQUEST_URI} !(assets|apply|contact|status|dev)
	#RewriteRule ^(.*)$ http://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

	RewriteCond %{HTTP_HOST} ^lucubunga\.org$ [NC]
	RewriteCond $1 ^index\.(php|html)$ [OR]
	RewriteCond $1 ^(top)
	RewriteRule ^(.*)$ / [R=301,L]

	RewriteCond %{HTTP_HOST} ^lucubunga\.org$ [NC]
	RewriteCond $1 ^dev/$
	RewriteRule ^(.*)$ /dev/top/ [R=301,L]

	RewriteCond %{HTTP_HOST} ^lucubunga\.org$ [NC]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d [OR]
	RewriteCond %{REQUEST_URI} ^/$
	RewriteRule ^(.*)$ lucubunga.php/$1
</IfModule>
