.f_frame_guide, .f_frame {
    margin: 0 auto 10px;
    padding: 10px 20px;
    width: 700px;
}

.f_frame {
    background: none repeat scroll 0 0 #eaf6fd;
}

.f_box {
	padding: 8px 0;
	display: table;
	font-size: 13px;
	width: 720px;
}

.f_box_border {
	border: gray solid 1px;
	background: none repeat scroll 0 0 #EEEEEE;
}

.f_line {
    border-top: 2px dotted #055fac;
    padding-bottom: 10px;
}

.f_left {
	width: 170px;
    display: table-cell;
    vertical-align: middle;
}

.f_center1, .f_center2 {
    display: table-cell;
    vertical-align: middle;
	margin: 0 auto;
	text-align: center;
}

.f_center1 {
	width: 40px;
}
.f_center2 {
	width: 50px;
}

.f_right {
	width: auto;
    display: table-cell;
    vertical-align: middle;
}

/*info*/
div.f_info {
	width: auto;
	margin: 3px auto 10px auto;
	/*margin-bottom: 10px;*/
	padding: 10px;
	position: relative;
    background: #CEF6F5;
    border: 2px solid #88b7d5;
	/*
	background: #D0F5A9;
	border: 1px solid #0B3B0B;
	*/
	line-height: 17px;
}

/*hint*/
a.f_hint {
	text-decoration: none; 
}

span.f_hint {
    background-color: #08088A;
    border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */
font-weight: bold;
font-size: 14px;
    padding: 2px;
    color: #FFF;
}

div.f_hint {
	width: 20px;
	-moz-border-radius: 5px;    /* Firefox */
	-webkit-border-radius: 5px; /* Safari,Chrome */
	border-radius: 5px;  
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0 auto; 
    padding: 2px;
    background-color: #08088A;
}

.f_hint_box {
	width: 450px;
	margin: 3px auto 10px 10px;
	padding: 10px;
	position: relative;
	background: #CEF6F5;
	border: 2px solid #88b7d5;
	line-height: 17px;
}
.f_hint_box:after, .f_hint_box:before {
	bottom: 100%;
	left: 3%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.f_hint_box:after { border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #CEF6F5; 
	border-width: 7px;
	margin-left: -7px;
}

.f_hint_box:before { border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #88b7d5;
	border-width: 10px;
	margin-left: -10px;
}

/* error */
.f_error_box {
	width: 400px;
	margin: 3px 30px -4px auto;
	padding: 10px;
	color: #FE2E2E;
	position: relative;
	background: #F2F5A9;
	border: 1px solid #FE2E2E;
}
.f_error_box:after, .f_error_box:before {
	top: 100%;
	left: 8%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.f_error_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #F2F5A9;
	border-width: 7px;
	margin-left: -7px;
}
.f_error_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #FE2E2E;
	border-width: 8px;
	margin-left: -8px;
}

/*error kiyaku*/
.f_error_kiyaku_box {
	/*width: 140px;*/
	margin: 3px 30px 10px auto;
	padding: 10px;
	color: #FE2E2E;
	position: relative;
	background: #F2F5A9;
	border: 1px solid #FE2E2E;
}
.f_error_kiyaku_box:after, .f_error_kiyaku_box:before {
	bottom: 100%;
	left: 8%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.f_error_kiyaku_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #F2F5A9;
	border-width: 7px;
	margin-left: -7px;
}
.f_error_kiyaku_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #FE2E2E;
	border-width: 8px;
	margin-left: -8px;
}

/* input text */

.f_frame select {
	height: 26px;
	font-size: 12px;
    /*border: 1px solid #708090;*/
    margin: 3px 3px 3px 0;
}
.f_frame input[type="text"] {
	font-size: 15px;
    border: 1px solid #708090;
    padding: 4px;
}


.f_frame input.size_normal {
    width: 300px;
}

.f_frame input.size_long {
    width: 350px;
}

/*LABEL*/

h3.f_label {
    /*
	background-image: url("/assets/esta-o/img/common/dot.png");
    background-position: left center;
    background-repeat: no-repeat;
	*/
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    /*padding-left: 20px;*/
}

.f_element {
	font-weight: bold;
	padding-right: 5px;
	/*font-size: 14px;*/
}

/*MUST*/

span.f_must, span.f_option {
	font-weight: normal;
	font-size: 14px;
	color: #FFFFFF;
	margin: 0 5px;
	padding: 2px 4px;
}

span.f_must {
	background-color: #FA5882;
}

span.f_option {
	background-color: #6E6E6E;
}

img.f_must_or_option {
	width:31px;
	height:16px;
}



