@charset "UTF-8";

/*------------------------------------------------------------
t：上（top）、r：右（right）、b：下（bottom）、l：左（left）
c：左右の中央（center）、m：上下の中間（middle）
-------------------------------------------------------------*/

/*------------------------------------------------------------
1、align・・・文字の横位置
-------------------------------------------------------------*/

.al-c{ text-align: center; }/*中央寄せ*/
.al-r{
	text-align: right;
}/*右寄せ*/
.al-l{ text-align: left; }/*左寄せ*/
.m0-auto{ margin: 0 auto;}
.text_justify{
	text-align: justify;
}
/*------------------------------------------------------------
2、valign・・・文字の縦位置
-------------------------------------------------------------*/

.vl-t{ vertical-align: top; }/*上寄せ*/
.vl-m{ vertical-align: middle; }/*中央寄せ*/
.vl-b{ vertical-align: bottom; }/*下寄せ*/


/*------------------------------------------------------------
3、float・・・左右の回り込み
-------------------------------------------------------------*/

.fl-r{ float: right; }/*右に回り込み*/
.fl-l{ float: left; }/*左に回り込み*/
.fl-c{ clear: both; }
/*.clearfix{
	zoom: 1;
	overflow:hidden;
    height:100%;
}
.clearfix:after {
	content: "."; display: block; visibility: hidden; height: 0.1px; font-size: 0.1em; line-height: 0; clear: both;
}*/

.cutoff img{float:left;margin-right:10px;}
.cutoff p{overflow:hidden;}

/*------------------------------------------------------------
4、margin・・・周りのブロックからの距離
-------------------------------------------------------------*/

.m0{ margin: 0!important; }/*周りからのmarginを0に*/
.m0-t{ margin-top: 0!important; }/*上からのmarginを0に*/
.m0-r{ margin-right: 0!important; }/*右からのmarginを0に*/
.m0-b{ margin-bottom: 0!important; }/*下からのmarginを0に*/
.m0-l{ margin-left: 0!important; }/*左からのmarginを0に*/

.m3-t{margin-top: 3px!important;}
.m5{ margin: 5px!important; }
.m5-t{ margin-top: 5px!important; }
.m5-r{ margin-right: 5px!important; }
.m5-b{ margin-bottom: 5px!important; }
.m5-l{ margin-left: 5px!important; }

.m10{ margin: 10px!important; }/*周りからのmarginを10pxに*/
.m10-t{ margin-top: 10px!important; }/*周りからのmarginを10pxに*/
.m10-r{ margin-right: 10px!important; }/*周りからのmarginを10pxに*/
.m10-b{ margin-bottom: 10px!important; }/*周りからのmarginを10pxに*/
.m10-l{ margin-left: 10px!important; }/*周りからのmarginを10pxに*/

.m15-l{ margin-left: 15px!important; }

.m20{ margin: 20px!important; }
.m20-t{ margin-top: 20px!important; }
.m20-r{ margin-right: 20px!important; }
.m20-b{ margin-bottom: 20px!important; }
.m20-l{ margin-left: 20px!important; }

.m30{ margin: 30px!important; }
.m30-t{ margin-top: 30px!important; }
.m30-r{ margin-right: 30px!important; }
.m30-b{ margin-bottom: 30px!important; }
.m30-l{ margin-left: 30px!important; }

.m40{ margin: 40px!important; }
.m40-t{ margin-top: 40px!important; }
.m40-r{ margin-right: 40px!important; }
.m40-b{ margin-bottom: 40px!important; }
.m40-l{ margin-left: 40px!important; }

.m50{ margin: 50px!important; }
.m50-t{ margin-top: 50px!important; }
.m50-r{ margin-right: 50px!important; }
.m50-b{ margin-bottom: 50px!important; }
.m50-l{ margin-left: 50px!important; }

.m60{ margin: 60px!important; }
.m60-t{ margin-top: 60px!important; }
.m60-r{ margin-right: 60px!important; }
.m60-b{ margin-bottom: 60px!important; }
.m60-l{ margin-left: 60px!important; }

.m70{ margin: 70px!important; }
.m70-t{ margin-top: 70px!important; }
.m70-r{ margin-right: 70px!important; }
.m70-b{ margin-bottom: 70px!important; }
.m70-l{ margin-left: 70px!important; }

.m1em{text-indent: 1em;}
.m2em{text-indent: 2em;}

/*------------------------------------------------------------
5、padding・・・周りのブロックからの距離（padding）
-------------------------------------------------------------*/

.p0{ padding: 0!important; }
.p0-t{ padding-top: 0!important; }
.p0-r{ padding-right: 0!important; }
.p0-b{ padding-bottom: 0!important; }
.p0-l{ padding-left: 0!important; }

.p5{ padding: 5px!important; }
.p5-t{ padding-top: 5px!important; }
.p5-r{ padding-right: 5px!important; }
.p5-b{ padding-bottom: 5px!important; }
.p5-l{ padding-left: 5px!important; }

.p10{ padding: 10px!important; }
.p10-t{ padding-top: 10px!important; }
.p10-r{ padding-right: 10px!important; }
.p10-b{ padding-bottom: 10px!important; }
.p10-l{ padding-left: 10px!important; }

.p20{ padding: 20px!important; }
.p20-t{ padding-top: 20px!important; }
.p20-r{ padding-right: 20px!important; }
.p20-b{ padding-bottom: 20px!important; }
.p20-l{ padding-left: 20px!important; }

.p30{ padding: 30px!important; }
.p30-t{ padding-top: 30px!important; }
.p30-r{ padding-right: 30px!important; }
.p30-b{ padding-bottom: 30px!important; }
.p30-l{ padding-left: 30px!important; }

.p40{ padding: 40px!important; }
.p40-t{ padding-top: 40px!important; }
.p40-r{ padding-right: 40px!important; }
.p40-b{ padding-bottom: 40px!important; }
.p40-l{ padding-left: 40px!important; }

.p50{ padding: 50px!important; }
.p50-t{ padding-top: 50px!important; }
.p50-r{ padding-right: 50px!important; }
.p50-b{ padding-bottom: 50px!important; }
.p50-l{ padding-left: 50px!important; }

.p60{ padding: 60px!important; }
.p60-t{ padding-top: 60px!important; }
.p60-r{ padding-right: 60px!important; }
.p60-b{ padding-bottom: 60px!important; }
.p60-l{ padding-left: 60px!important; }


/*------------------------------------------------------------
6、font-size・・・フォントサイズの設定
-------------------------------------------------------------*/

.b{ font-weight: bold!important; }/*太字*/
.normal{ font-weight: normal!important; }/*太字を解除*/

.big{ font-size: 1.2em!important; }
.big2{ font-size: 1.5em!important; }
.big3{ font-size: 1.8em!important; }
.small{ font-size: 0.8em!important; }

.f07em{ font-size: 0.7em; }
.f08em{ font-size: 0.8em; }
.f09em{ font-size: 0.9em; }
.f10em{ font-size: 1.0em; }
.f11em{ font-size: 1.1em; }
.f12em{ font-size: 1.2em; }
.f13em{ font-size: 1.3em; }
.f14em{ font-size: 1.4em; }
.f15em{ font-size: 1.5em; }
.f16em{ font-size: 1.6em; }
.f17em{ font-size: 1.7em; }
.f18em{ font-size: 1.8em; }
.f19em{ font-size: 1.9em; }
.f20em{ font-size: 2.0em; }
.f21em{ font-size: 2.1em; }
.f22em{ font-size: 2.2em; }
.f23em{ font-size: 2.3em; }
.f24em{ font-size: 2.4em; }

.f8pt{ font-size: 8.5pt!important; }
.f9pt{ font-size: 9.0pt!important; }
.f10pt{ font-size: 10pt!important; }
.f11pt{ font-size: 11pt!important; }
.f12pt{ font-size: 12pt!important; }
.f13pt{ font-size: 13pt!important; }
.f14pt{ font-size: 14pt!important; }
.f15pt{ font-size: 15pt!important; }
.f16pt{ font-size: 16pt!important; }
.f17pt{ font-size: 17pt!important; }
.f18pt{ font-size: 18pt!important; }
.f19pt{ font-size: 19pt!important; }
.f20pt{ font-size: 20pt!important; }
.f21pt{ font-size: 21pt!important; }
.f22pt{ font-size: 22pt!important; }
.f23pt{ font-size: 23pt!important; }
.f24pt{ font-size: 24pt!important; }

.f8px{ font-size: 8.5px!important; }
.f9px{ font-size: 9.0px!important; }
.f10px{ font-size: 10px!important; }
.f11px{ font-size: 11px!important; }
.f12px{ font-size: 12px!important; }
.f13px{ font-size: 13px!important; }
.f14px{ font-size: 14px!important; }
.f15px{ font-size: 15px!important; }
.f16px{ font-size: 16px!important; }
.f17px{ font-size: 17px!important; }
.f18px{ font-size: 18px!important; }
.f19px{ font-size: 19px!important; }
.f20px{ font-size: 20px!important; }
.f21px{ font-size: 21px!important; }
.f22px{ font-size: 22px!important; }
.f23px{ font-size: 23px!important; }
.f24px{ font-size: 24px!important; }


/*------------------------------------------------------------
7、color・・・フォントカラーの設定
-------------------------------------------------------------*/

.red{ color: #ff0000; }/*赤*/
.blue{ color: #336397; }/*青*/
.green{ color: #008000; }/*緑*/
.yellow{ color: #ffff00; }/*黄*/
.navy{ color: #1F26A9; }/*紺*/
.orange{ color: #ff6600; }/*橙*/
.pink{ color: #f9afef; }/*ピンク*/
.purple{ color: #a53660; }/*紫*/
.olive{ color: #808000; }/*黄土色*/
.lime{ color: #00ff00; }/*黄緑*/
.aqua{ color: #167FA6; }/*水色*/
.black{ color: #000; }/*黒*/
.gray{ color: #ccc; }/*灰*/
.white{ color: #fff; }/*白*/


/*------------------------------------------------------------
7.5、bgcolor・・・バックグラウンドカラーの設定
-------------------------------------------------------------*/
.pink-bg{ background-color:#ffc4df!important;}/*ピンク*/
.white-bg{ background-color: #fff!important;} /*白*/


/*------------------------------------------------------------
8、line-height・・・行間の設定
-------------------------------------------------------------*/

.lh10{ line-height: 1.0!important; }
.lh11{ line-height: 1.1!important; }
.lh12{ line-height: 1.2!important; }
.lh13{ line-height: 1.3!important; }
.lh14{ line-height: 1.4!important; }
.lh15{ line-height: 1.5!important; }
.lh20{ line-height: 2.0!important; }


/*------------------------------------------------------------
9、下線や取消線の設定
-------------------------------------------------------------*/

.underline{ text-decoration: underline!important; }
.del{ text-decoration:line-through;}
.noborder{ border: 0!important; }/*枠線を無くす*/


/*------------------------------------------------------------
10、zindex・・・重なりの優先度
-------------------------------------------------------------*/

.z1{ z-index: 1!important; }
.z2{ z-index: 2!important; }
.z3{ z-index: 3!important; }
.z4{ z-index: 4!important; }
.z5{ z-index: 5!important; }


/*------------------------------------------------------------
11、ul.none・・・リスト先頭のアイコンを無くす
-------------------------------------------------------------*/

ul.none{ list-style-type: none; }


/*------------------------------------------------------------
12、box・・・蛍光ペンのようなボックスの設定
-------------------------------------------------------------*/

.box-yellow{ padding:2px;background-color: #ffff00!important; }/*黄色*/
.box-aqua{ padding:2px;background-color: #00ffff!important; }/*水色*/
.box-gray{ padding:2px;background-color: #eee!important; }/*灰色*/
.box-red{ padding:2px;background-color: #ffcccc!important; }/*赤色*/


/*------------------------------------------------------------
13、input:focus・・・入力フォームをハイライトする（Firefox）
-------------------------------------------------------------*/

input:focus,textarea:focus{ background-color: #dee!important; }


/*------------------------------------------------------------
14、left、right・・・画像を簡単に回り込ませる設定
-------------------------------------------------------------*/

/*左に画像、右に文章*/
.left{
	float: left;
	margin-top: 0;
	margin-right: 15px;
	margin-bottom: 0;
	margin-left: 0;
}

/*右に文章、左に画像*/
.right{
	float: right;
	margin: 0 0 20px 30px!important;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix { display: inline-table; }
/*------------------------------------------------------------
css3
-------------------------------------------------------------*/
.mainbody{
background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #2d1111), color-stop(0.60, #000000));
background: -webkit-linear-gradient(top, #000000 60%, #2d1111 100%);
background: -moz-linear-gradient(top, #000000 60%, #2d1111 100%);
background: -o-linear-gradient(top, #000000 60%, #2d1111 100%);
background: -ms-linear-gradient(top, #000000 60%, #2d1111 100%);
background: linear-gradient(top, #000000 60%, #2d1111 100%);
max-width: 1000px;
}
